:root {
    --accent_color: #195CC8;
    --accent_color_2: #E94F37;
    --accent_color_3: #26A671;
    --white: #FAFAFA;
    --black: #141414;
    --header_font: "Abril Fatface",serif;
    --body_font: "Hind Madurai",sans-serif;
    --banner_font: "VT323",monospace
}

section{
    padding: 40px
}
h1 {
    font-family: var(--header_font);
}

h2 {
    font-family: var(--header_font);
    color:#202030
}

h3 {
    font-family: var(--header_font);
}

h4 {
    font-family: var(--header_font);
}

h5 {
    font-family: var(--header_font);
}

h6 {
    font-family: var(--header_font);
}

p {
    font-family: var(--body_font);
}

.span-block { 
    display: inline-block; 
    min-width: 180px
}

.span-block-small { 
    display: inline-block; 
    padding-right: 8px
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #202030;
  z-index: 100;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-buttons, .menu-buttons:visited {
    font-family: var(--header_font);
    display: inline-block;
    margin-left: 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #E4FDE1;
    transition: font-size .5s ease, letter-spacing .3s ease, margin-right .5s ease;
    transition-delay: 50ms;
}



.background_image {
    background-color: #ff745760;
    background-blend-mode: soft-light;
    background-image: url('daniel_jumping.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.content {
    background-color: aliceblue;
    border: solid;
    border-radius: 20px;
    border-color: #202030;
    vertical-align: middle;
    padding: 20px;
}
.logoandtext {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    max-width: 60%;
    padding: 24px;
}

.logo {
    height: 8rem;
    padding-bottom: 12px; 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center;
}

.bannertext {
    color: white;
    font-family: var(--banner_font);
    font-size: 28px;
    
}

.logobanner {
    width: 375px;
    height: 100px;
    padding-bottom: 12px; 
    display: block; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center;
    background-image: url('latered.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

}

.logoandtext:hover {
    cursor: help;
}

.asseenonlogoscontainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotext {
    color: #FFD1CA;
    text-decoration: none;
    padding-bottom: 48px;
}
.name-logo {
    vertical-align: middle;
    width: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.button.secondary {
    font-family: var(--header_font);
    border: var(--accent_color) 2px solid;
    background-color: transparent;
    color: var(--accent_color);
    padding: 10px 18px;
    border-radius: 80px;
    text-decoration: none;
}

.button.navbutton {
    font-family: var(--header_font);
    padding: 4px 18px;
    border: #FFE0DA 2px solid;
    background-color: transparent;
    color: #FFE0DA;
    max-width: 125px;
    justify-content: center;
    border-radius: 80px;
    text-decoration: none;

}

.button.inline {
    font-family: var(--header_font);
    border: var(--accent_color) 2px solid;
    background-color: transparent;
    color: var(--accent_color);
    padding: 2px 2px;
    border-radius: 80px;
}

.nav-bar-link {
    text-decoration: none; 
    color: #FFE0DA;
}

ul {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
    text-align: right;
    font-family: var(--header_font);
}

.scrolling-text.short {
    padding: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: -8px;
    width: auto;
    height: 28px
}

.scrolling-text.short span {
    -webkit-animation: scrollingTextVertical 6s linear infinite;
    animation: scrollingTextVertical 6s linear infinite;
    padding: 0
}

.scrolling-text.short span .word {
    width: 100px;
    display: block;
    text-align: center;
    font-weight: 300
}

.scrolling-text.short:hover {
    padding: 0
}

.scrolling-text {
    display: inline-block;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 120px
}

.scrolling-text span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scrollingText 50s linear infinite;
    animation: scrollingText 50s linear infinite
}

@-webkit-keyframes scrollingText {
    0% {
        transform: translate(-64px,0)
    }

    100% {
        transform: translate(-100%,0)
    }
}

@keyframes scrollingText {
    0% {
        transform: translate(-64px,0)
    }

    100% {
        transform: translate(-100%,0)
    }
}

@-webkit-keyframes scrollingTextVertical {
    0% {
        transform: translate(0,8%)
    }

    100% {
        transform: translate(0,-82%)
    }
}

@keyframes scrollingTextVertical {
    0% {
        transform: translate(0,8%)
    }

    100% {
        transform: translate(0,-82%)
    }
}
